<a href="https://colab.research.google.com/github/hyrycena/TDEBD/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
df = pd.read_csv('natacao.csv')

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [20]:
df

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4


1-Identifique e responda, qual a variável estatística representada em cada coluna do dataframe?

Variaveis Qualitativas
Nominal:Sede,Estilo,Revesamento,Genero,Equipe,Atleta,

Ordinais:

Variavies Quantitativas
Discretas:Distancia,Tempo,Posicao

Continuas:Ano

2-Identifique e responda, qual a medida de resumo mais adequada para cada variável numérica? justifique cada uma delas.


Ano:Moda:utilizando a moda podemos saber qual mais se repete

Distancia:Mediana: è o q melhor encaixa na situação

Tempo:Media: pois assim conseguimos tirar a base media de tmepo do ano em questao

Posição:Media: pois assim conseguimos tirar a base media da posicao em questao

3-Qual atleta teve o maior número de participações em provas masculinas?

In [40]:
[df['Atleta'].describe()]

[count               4345
 unique              2821
 top       Michael Phelps
 freq                  18
 Name: Atleta, dtype: object]

4-Qual atleta teve o maior número de participações em provas femininas?

In [45]:
muie = df[df['Genero']== 'Feminino']
muie

In [51]:
muie['Atleta'].describe()

count                      2064
unique                     1317
top       Kirsty Leigh Coventry
freq                         10
Name: Atleta, dtype: object

5-Qual pais conquistou o maior número de medalhas de bronze?

In [54]:
medalhas = df[df['Posicao']== 3]
medalhas

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
10,Tokyo,2020,100m,Peito,0,Masculino,ITA,Nicolo Martinenghi,58.33,3
18,Tokyo,2020,100m,Borboleta,0,Masculino,SUI,Noe Ponti,50.74,3
26,Tokyo,2020,100m,Livre,0,Masculino,ROC,Kliment Kolesnikov,47.44,3
34,Tokyo,2020,1500m,Livre,0,Masculino,GER,Florian Wellbrock,14:40.91,3
...,...,...,...,...,...,...,...,...,...,...
4329,Stockholm,1912,200m,Peito,0,Masculino,GER,Kurt Paul Malisch,00:03:08.000000,3
4337,Stockholm,1912,400m,Peito,0,Masculino,GBR,Percy Courtman,00:06:36.400000,3
4345,Stockholm,1912,400m,Livre,0,Masculino,ANZ,Harold H. Hardwick,00:05:31.200000,3
4352,Stockholm,1912,4x100,Livre,1,Feminino,GER,"Wally Dressel, Louise Otto, Grete Rosenberg, H...",00:06:04.600000,3
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3

In [55]:
medalhas['Equipe'].describe()

count     566
unique     48
top       USA
freq      138
Name: Equipe, dtype: object